.container-fluid{
   width: 100%;
   height: 400px;
  
}
#premiere{
    height: 20px;
}
.bg-secondary{
    width: 100%;
    opacity: 0.7;
}
.logo{
  margin-left: 20%;
  margin-top: 10px;
  font-size: 20px;
}
ul {
    list-style-type: none;
    padding-left: 10px;
    float: right;
    margin-right: 20%;
    margin-top: -40px;
}
  
li {
  display: inline;
  margin-top: 10px;
}
a{
    color: #FFF;
    padding-left: 7px;
}
.e{
    color: #4bcaff;
}
.home{
    border: #4bcaff solid 1px;
    padding: 4px;
}
.ahome{
   color: #4bcaff;
}
#text p{
    position: absolute;
    margin-left: 24%;
    font-size: 25px;
    top: 25%;
}
.textp{
    background-color: #475158;
    opacity: 0.7;
    color: #ffffff;
}
#cont{
    background-color: aquamarine;
    height: 270px;
}
#bvg{
    background-color: aquamarine;
    margin-left: 20%;
    margin-right: 20%;
}
#deuxieme{
    background-color: aquamarine;
    height: 250px;
}
.col-lg-2{
    margin-top: -30px;
}
.services{
    margin-left: 20%;
    font-size: 20px;
}
.icons{
    margin-top: 40px;
    width: 40px;
    height: 40px;
}
.desc{
    font-size: 10px;
}p
#troisieme{
   margin-top: 10px;
   width: 100%;
}
#form{
    width: 210px;
    margin-left: 53%;
    margin-top: 45px;
    font-size: 12px;
    font-weight: bolder;
}
#lorem{
   width: 500px;
   margin-top: -460px;
   margin-left: 15%;
    
}
#textera{
    width: 60%;
    margin-left: 16%;
}
.btn{
    padding-left: 80px;
    padding-right: 80px;
}
#footer{
    height: 150px;
    background-color: #353f47;
}
.ft {
    list-style-type: none;
    padding-left: 10px;
    float: left;
    margin-right: 20%;
    margin-top: 60px;
}
  
.ft li {
  display: inline;
  margin-top: 10px;
}
.borde{
    border-right: #353f47 solid 1px;
    padding-right: 8px;

}
.ft li a{
    color: #FFF;
    padding-left: 7px;
    background-color: #353f47;
} 
.ftgauche{
    float: right;
    margin-top: 60px;
}
@media screen and (max-width: 990px) {
    #troisieme{
        margin-top: 270px;
    }
    #deuxieme{
        background-color: aquamarine;
        height: 530px;
    }
    #troisieme{
        margin-top: 0px;
        width: 100%;
     }
     .form-group{
        width: 40%;
    }
    #lorem{
        margin-top: -440px;
        margin-left: 0%;
    }
    #form{
        width: 100%;
        margin-top: -20px;
        margin-left: 0%;
        font-size: 5px;
    }
    #textera{
        margin-left: 2%;
        width: 50%;
    }
    .logo{
        margin-left: 2%;
        margin-top: 10px;
        font-size: 20px;
      }
}
@media screen and (max-width: 600px) {
    #troisieme{
        margin-top: 0px;
    }
    #deuxieme{
        background-color: aquamarine;
        height: 600px;
    }
    .form-group{
        width: 40%;
    }
    #lorem{
        margin-top: -440px;
        margin-left: 0%;
    }
    #form{
        width: 100%;
        margin-top: -20px;
        margin-left: 0%;
        font-size: 5px;
    }
    #textera{
        margin-left: 5%;
    }
    .container-fluid{
        width: 100%;
       
     }
     #premiere{
         width: 100%;
     }
     .logo{
        margin-left: 2%;
        margin-top: 10px;
        font-size: 20px;
      }
      ul {
          visibility: hidden;
      }
}